

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.body-style{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-black);
    background-color: var(--background-color-white);
    font-size: 14px;
    letter-spacing: 0.03em;
}
ul{
    list-style: none;
    padding-left: 0;
    
}
a{ 
    text-decoration: none;
}









/* .contacts{
    
}


.container {
    box-sizing: border-box;
    width: 320px;
    padding: 20px;
    margin: auto;
}

.contacts__stores-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 0;
    gap: 16px;
    padding-left: 0;



}

.store {
    display: block;
    box-sizing: border-box;
    width: 280px;
    padding-top: 40px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 24px;
    border: solid 1px #E1E1E1;
    background-color: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.store__name {


    display: inline-block;
    text-align: center;
    padding: 4px 22px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #F8D24E;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(22/16);
    letter-spacing: 0.04em;
    color: #131313;
}

.store__region {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.04em;
    color: #131313;
}

.store__location {
    display: block;
    margin-bottom: 24px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
    letter-spacing: 0.04em;
    color: #D6936D;
}

.store__location:hover,
.store__location:focus{
    text-decoration: underline;
}

.store__time {
    display: flex;
    flex-flow: column;

    padding-left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;

}

.store__time-item {
    display: flex;
    flex-flow: column;
}

.store__time-item:last-child {
    padding-top: 8px;

}

.store__working-day {
    display: inline-block;
    height: 22px;
    margin-left: 0;
    padding-left: 0;
    color: #131313;

}

.store__working-time {
    display: inline-block;
    height: 22px;
    color: #ABABAB;
}

.store__list {
    padding-left: 0;
    padding-top: 24px;

}


.store__item:first-child {
    margin-bottom: 6px;
}

.store__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(19/12);
    color: #131313;

}
.store__link:hover,
.store__link:focus {
    text-decoration: underline;
}


/*---------- Buttons ----------*/

/* .contacts__button-list{
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    gap: 16px;


}
.contacts__button-item{

}
.contacts__button-location{

    display: flex;
    align-items: center;
    width: 196px;
    padding: 12px 40px;
    background-color: #F8D24E;
    border-radius: 10px;
    border: 2px solid #F8D24E;

    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
    color: #131313;
}

.contacts__button-location:hover{
    background-color: #0A8817;
    border: 2px solid #0A8817;


}
.contacts__button-location:focus {
    background-color: #0A8817;
    border: 2px solid #0A8817;
    color: #FFFFFF;

}
.contacts__button-location:disabled {
    background-color: #ABABAB;
    border: 2px solid #ABABAB;

}




.contacts__button-franchise {

    display: flex;
    align-items: center;
    width: 196px;
    padding: 12px 55px;
    background-color: transparent;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
    color: #131313;
}

.contacts__button-franchise:hover{
    border: 2px solid #0A8817;
}
.contacts__button-franchise:focus{
    border: 2px solid #0A8817;
    color: #FFFFFF;

}
.contacts__button-franchise:disabled{
    border: 2px solid #ABABAB;

}

.contacts__icon{
    margin-left: 4px;

}  */





/* 
.container {
    box-sizing: border-box;
    width: 320px;
    padding: 95px 20px 20px 20px;
    margin: auto;
    background-color: burlywood;
}

.footer__title {
    display: inline-block;
    text-align: left;
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22/18);
    letter-spacing: 0.04em;
    color: #FCFCFC;

}

.footer__text {
    display: inline-block;
    text-align: left;
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 34px;
    line-height: calc(41/34);
    letter-spacing: 0.04em;
    color: #FCFCFC;

}

.footer-social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;

}

.footer-social__item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #F8D24E;
    fill: #84A178;
}

.footer-social__icons {

}

.footer-contact {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 12px;
    line-height:calc(22/12);
    color: #FCFCFC;
    
    

}
.footer-contact__text{
    font-weight: 700;
    font-size: 12px;
    line-height: calc(22/12);
    color: #131313;
}

.copyright{
    width: 100%;
    border-top: solid 1px #E1E1E1;
    padding-top: 20px;
}
.copyright__list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}

.copyright__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21/14);
    letter-spacing: 0.04em;

    color: #7A7A7A;
} */




.container {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 320px;
    min-height: 320px;

}





.modal {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 90%;
    max-height: 458px;
    background: skyblue;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 32px 60px;

}

.modal__btn-close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    border-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCFCFC;
}

.modal__title {
    padding-bottom: 32px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(28/20);
    display: flex;
    align-items: center;
    text-align: center;
    color: #131313;
}


.modal__map-div {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 32px;
    border-radius: 10px;
    
}
.modal__div-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 42px;
    background-color:  #F8D24E;
    border-radius: 10px;
}
.modal__div-link:hover,
.modal__div-link:focus{
    background-color:#0A8817;
    
}

.modal__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.modal__link-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);
    color: #131313;
}

